/* reset */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

p {
    
    margin-top: -549px;
    margin-right: -271px;
    text-align: center;
    font-family: cursive;
    font-size: 29px;
    color: #fff;
}

/* nền lá thư */
body {
    display: flex;
    align-items: center;
    justify-content: center;
    backg247ba0;
    border-top: 95px solid transparent;
    border-bottom: 100px solid transparent;
    left: 120px;
    top: 5px;
    width: 0;
    height: 0;
    z-index: 10;
}

.front::before {
    position: absolute;
    content: "";
    border-left: 300px solid #247ba0;
    border-top: 195px solid transparent;
    left: -120px;
    top: -95px;
}

.shadow {
    position: absolute;
    width: 330px;
    height: 25px;
    border-radius: 50%; 
    background-color: rgba(0,0,0,0.13);
    top: 265px;
    left: -15px;
    z-index: -1;
    animation: scale 3s linear infinite;
}

@keyframes scale {
    0%, 100% {
        transform: scaleX(1);
    }
    50% {
        transform: scaleX(0.85);
    }
}



